<head>
<title>Split and Merge Tobi Projects</title>
<style>
h1 {font-size:16pt;}
h2 {font-size:14pt;}
h3 {font-size:13pt;}
h4 {font-size:12pt;}
p {font-size:12pt;}
</style>
</head>

<body>
<h1>Split and Merge Tobi Projects</h1>

<p>The Split and Merge feature of Tobi allows you to split a project into several sub-projects and reassemble them back after updating. It enables parallel production and thus helps you in achieving reduced turn-around time for creating DAISY/EPUB publications.</p>

<p>As the Tobi project for EPUB publication differs from the Tobi project for DAISY publication in the file structure, the process of splitting them also varies. Therefore, their process flows are elaborated in separate topics as follows:
<br/><a href="split-and-merge-daisy-tobi-project.htm">Split and Merge DAISY Tobi Projects</a>
<br/><a href="split-and-merge-epub-tobi-project.htm">Split and Merge EPUB Tobi Projects</a>
</p>

<p><a href="tobi-user-reference-manual.htm">Back to Manual Home</a></p>

</body>
